/*css document*/
	p{color:green;
	font-size:18px;
	font-family:Arial;
	margin-left:25;
	

	
}
h1{
Color:red;
font-size:18px
font-family:Elephant;
text-decoration:underline;

}
h2
{color:#0033ff;
font-family:comic sans ms;
font-size:28px;
text-decoration:underline;

}
h3
{ color:#fc0098;
font-family:comic sans ms;
font-size:30px;
text-decoration:underline;
}