    form{   max-width: 0 auto ;
      box-sizing: border-box;

            }

input:not(.sub_button) {

       box-shadow: 03px 03px 5px navy;
}
input:focus:not(.sub_button){
      background-color: lightgray;
      font-weight: bold;
    outline: 5px solid blue;
    box-shadow: 03px 03px 5px navy;
}
.sub_button{
            height: 40px;
            width: 100px;
            box-shadow: 08px 08px 10px gray;
            top:300px;
            border-radius: 10px;
            margin: 10px;
            background-image:radial-gradient(white,yellow,green);
            display: inline;
            cursor: pointer;
            font-size: 20px;
            border: 2px solid green;
            font-weight: bolder;

}

 .part1{
             background-image: linear-gradient(skyblue,white);
		width: 200px;
             height: 250px;
             padding: 10px;
             margin: 20px;
             border-radius:10px;
            box-shadow: 07px 07px 10px gray;

}
 .part2{
  background-image:linear-gradient(tomato,white);
		width: 200px;
             height: 250px;
             padding: 10px;
             margin: 20px;
             border-radius:10px;
            box-shadow: 07px 07px 10px gray;
}
 .part3{
            background-image: linear-gradient(yellow,white);
		width: 200px;
             height: 250px;
             padding: 10px;
             border-radius:10px;
             margin: 20px;
             box-shadow: 07px 07px 10px gray;
}
 .part4{
            background-image: linear-gradient(green,white);
		width: 200px;
             height: 250px;
             margin: 20px;
             padding: 10px;
             border-radius:10px;
            box-shadow: 07px 07px 10px gray;
}
div{float: left;
}
.main{
	padding: 20px;
	background-color: ;
      max-width: 0 auto;
}
h3{
	text-align: center;
	color: blue;
	background-color: white;
	max-width: 0 auto;

}
.btn_main{
position: absolute;
text-align: center;


}

.Divide{margin: 5px;}
.Multiply {margin: 5px;}
.Subtract  {margin: 5px;}
.Addition{margin: 5px;}

