.A	{color:	#F0F8FF	; font-size:30px;}	
.B	{color:	#FAEBD7	; font-size:30px;}	
.C	{color:	#00FFFF	; font-size:30px;}	
.D	{color:	#7FFFD4	; font-size:30px;}	
.E	{color:	#F0FFFF	; font-size:30px;}	
.F	{color:	#F5F5DC	; font-size:30px;}	
.G	{color:	#FFE4C4	; font-size:30px;}	
.H	{color:	#000000	; font-size:30px;}	
.I	{color:	#FFEBCD	; font-size:30px;}	
.J	{color:	#0000FF	; font-size:30px;}	
.K	{color:	#8A2BE2	; font-size:30px;}	
.L	{color:	#A52A2A	; font-size:30px;}	
.M	{color:	#DEB887	; font-size:30px;}	
.N	{color:	#5F9EA0	; font-size:30px;}	
.O	{color:	#7FFF00	; font-size:30px;}	
.P	{color:	#D2691E	; font-size:30px;}	
.Q	{color:	#FF7F50	; font-size:30px;}	
.R	{color:	#B0E0E6	; font-size:30px;}	
.S	{color:	#800080	; font-size:30px;}	
.T	{color:	#663399	; font-size:30px;}	
.U	{color:	#FF0000	; font-size:30px;}	
.V	{color:	#BC8F8F	; font-size:30px;}	
.W	{color:	#4169E1	; font-size:30px;}	
.X	{color:	#FFFACD	; font-size:30px;}	
.Y	{color:	#ADD8E6	; font-size:30px;}	
.Z	{color:	#F08080	; font-size:30px;}	
.Aa	{color:	#E0FFFF	; font-size:30px;}	
.Ba	{color:	#FAFAD2	; font-size:30px;}	
.Ca	{color:	#D3D3D3	; font-size:30px;}	
.Da	{color:	#6495ED	; font-size:30px;}	
.Ea	{color:	#FFF8DC	; font-size:30px;}	
.Fa	{color:	#DC143C	; font-size:30px;}	
.Ga	{color:	#00FFFF	; font-size:30px;}	
.Ha	{color:	#00008B	; font-size:30px;}	
.Ia	{color:	#008B8B	; font-size:30px;}	
.Ja	{color:	#B8860B	; font-size:30px;}	
.Ka	{color:	#A9A9A9	; font-size:30px;}	
.La	{color:	#A9A9A9	; font-size:30px;}	
.Ma	{color:	#006400	; font-size:30px;}	
.Na	{color:	#BDB76B	; font-size:30px;}	
.Oa	{color:	#8B008B	; font-size:30px;}	
.Pa	{color:	#556B2F	; font-size:30px;}	
.Qa	{color:	#FF8C00	; font-size:30px;}	
.Ra	{color:	#9932CC	; font-size:30px;}	
.Sa	{color:	#8B0000	; font-size:30px;}	
.Ta	{color:	#E9967A	; font-size:30px;}	
.Ua	{color:	#32CD32	; font-size:30px;}	
.Va	{color:	#FFE4B5	; font-size:30px;}	
.Wa	{color:	#FFDEAD	; font-size:30px;}	
.Xa	{color:	#000080	; font-size:30px;}	
.Ya	{color:	#FDF5E6	; font-size:30px;}	
.Za	{color:	#808000	; font-size:30px;}	
.Ab	{color:	#6B8E23	; font-size:30px;}	
.Bb	{color:	#FFA500	; font-size:30px;}	
.Cb	{color:	#FF4500	; font-size:30px;}	
.Db	{color:	#DA70D6	; font-size:30px;}	
.Eb	{color:	#EEE8AA	; font-size:30px;}	
.Fb	{color:	#98FB98	; font-size:30px;}	
.Gb	{color:	#AFEEEE	; font-size:30px;}	
.Hb	{color:	#8FBC8F	; font-size:30px;}	
.Ib	{color:	#483D8B	; font-size:30px;}	
.Jb	{color:	#2F4F4F	; font-size:30px;}	
.Kb	{color:	#2F4F4F	; font-size:30px;}	
.Lb	{color:	#00CED1	; font-size:30px;}	
.Mb	{color:	#9400D3	; font-size:30px;}	
.Nb	{color:	#FF1493	; font-size:30px;}	
.Ob	{color:	#00BFFF	; font-size:30px;}	
.Pb	{color:	#696969	; font-size:30px;}	
.Qb	{color:	#696969	; font-size:30px;}	
.Rb	{color:	#1E90FF	; font-size:30px;}	
.Sb	{color:	#B22222	; font-size:30px;}	
.Tb	{color:	#FFFAF0	; font-size:30px;}	
.Ub	{color:	#228B22	; font-size:30px;}	
.Vb	{color:	#FF00FF	; font-size:30px;}	
.Wb	{color:	#FFFFE0	; font-size:30px;}	
.Xb	{color:	#00FF00	; font-size:30px;}	
.Yb	{color:	#708090	; font-size:30px;}	
.Zb	{color:	#FAF0E6	; font-size:30px;}	
.Ac	{color:	#FF00FF	; font-size:30px;}	
.Bc	{color:	#800000	; font-size:30px;}	
.Cc	{color:	#66CDAA	; font-size:30px;}	
.Dc	{color:	#0000CD	; font-size:30px;}	
.Ec	{color:	#BA55D3	; font-size:30px;}	
.Fc	{color:	#9370DB	; font-size:30px;}	
.Gc	{color:	#3CB371	; font-size:30px;}	
.Hc	{color:	#7B68EE	; font-size:30px;}	
.Ic	{color:	#00FA9A	; font-size:30px;}	
.Jc	{color:	#48D1CC	; font-size:30px;}	
.Kc	{color:	#C71585	; font-size:30px;}	
.Lc	{color:	#A0522D	; font-size:30px;}	
.Mc	{color:	#F4A460	; font-size:30px;}	
.Nc	{color:	#FFFAFA	; font-size:30px;}	
.Oc	{color:	#00FF7F	; font-size:30px;}	
.Pc	{color:	#4682B4	; font-size:30px;}	
.Qc	{color:	#D2B48C	; font-size:30px;}	
.Rc	{color:	#008080	; font-size:30px;}	
.Sc	{color:	#D8BFD8	; font-size:30px;}	
.Tc	{color:	#FF6347	; font-size:30px;}	
.Uc	{color:	#40E0D0	; font-size:30px;}	
.Vc	{color:	#808080	; font-size:30px;}	
.Wc	{color:	#808080	; font-size:30px;}	
.Xc	{color:	#008000	; font-size:30px;}	
.Yc	{color:	#ADFF2F	; font-size:30px;}	
.Zc	{color:	#F0FFF0	; font-size:30px;}	
.Ad	{color:	#FF69B4	; font-size:30px;}	
.Bd	{color:	#CD5C5C	; font-size:30px;}	
.Cd	{color:	#4B0082	; font-size:30px;}	
.Dd	{color:	#FFFFF0	; font-size:30px;}	
.Ed	{color:	#F0E68C	; font-size:30px;}	
.Fd	{color:	#FA8072	; font-size:30px;}	
.Gd	{color:	#FFF0F5	; font-size:30px;}	
.Hd	{color:	#7CFC00	; font-size:30px;}	
.Id	{color:	#2E8B57	; font-size:30px;}	
.Jd	{color:	#F5DEB3	; font-size:30px;}	
.Kd	{color:	#FFFFFF	; font-size:30px;}	
.Ld	{color:	#F5F5F5	; font-size:30px;}	
.Md	{color:	#E6E6FA	; font-size:30px;}	
.Nd	{color:	#EE82EE	; font-size:30px;}	
.Od	{color:	#B0C4DE	; font-size:30px;}	
.Pd	{color:	#D3D3D3	; font-size:30px;}	
.Qd	{color:	#90EE90	; font-size:30px;}	
.Rd	{color:	#FFB6C1	; font-size:30px;}	
.Sd	{color:	#FFA07A	; font-size:30px;}	
.Td	{color:	#20B2AA	; font-size:30px;}	
.Ud	{color:	#87CEFA	; font-size:30px;}	
.Vd	{color:	#778899	; font-size:30px;}	
.Wd	{color:	#778899	; font-size:30px;}	
.Xd	{color:	#DB7093	; font-size:30px;}	
.Yd	{color:	#FFEFD5	; font-size:30px;}	
.Zd	{color:	#FFDAB9	; font-size:30px;}	
.Ae	{color:	#CD853F	; font-size:30px;}	
.Be	{color:	#FFC0CB	; font-size:30px;}	
.Ce	{color:	#8B4513	; font-size:30px;}	
.De	{color:	#DCDCDC	; font-size:30px;}	
.Ee	{color:	#191970	; font-size:30px;}	
.Fe	{color:	#F5FFFA	; font-size:30px;}	
.Ge	{color:	#FFE4E1	; font-size:30px;}	
.He	{color:	#6A5ACD	; font-size:30px;}	
.Ie	{color:	#708090	; font-size:30px;}	
.Je	{color:	#DDA0DD	; font-size:30px;}	
.Ke	{color:	#FFFF00	; font-size:30px;}	
.Le	{color:	#FFF5EE	; font-size:30px;}	
.Me	{color:	#FFD700	; font-size:30px;}	
.Ne	{color:	#DAA520	; font-size:30px;}	
.Oe	{color:	#C0C0C0	; font-size:30px;}	
.Pe	{color:	#87CEEB	; font-size:30px;}	
.Qe	{color:	#9ACD32	; font-size:30px;}	
.Re	{color:	#F8F8FF	; font-size:30px;}	
