.A{color:AliceBlue;font-size:38px;}
.B	{color:	AntiqueWhite;font-size:38px;}
.C	{color:	Aqua;font-size:38px;}
.D	{color:	Aquamarine;font-size:38px;}
.E	{color:	Azure;font-size:38px;}
.F	{color:	Beige;font-size:38px;}
.G	{color:	Bisque;font-size:38px;}
.H	{color:	Black;font-size:38px;}
.I	{color:	BlanchedAlmond;font-size:38px;}
.J	{color:	Blue;font-size:38px;}
.K	{color:	BlueViolet;font-size:38px;}
.L	{color:	Brown;font-size:38px;}
.M	{color:	BurlyWood;font-size:38px;}
.N	{color:	CadetBlue;font-size:30px;}
.O	{color:	Chartreuse;font-size:38px;}
.P	{color:	Chocolate;font-size:38px;}
.Q	{color:	Coral;font-size:38px;}
.R	{color:	PowderBlue;font-size:38px;}
.S	{color:	Purple	;font-size:38px;}
.T	{color:	RebeccaPurple;font-size:38px;}
.U	{color:	Red;font-size:38px;}
.V	{color:	RosyBrown;font-size:38px;}
.W	{color:	RoyalBlue;font-size:38px;}
.X	{color:	LemonChiffon;font-size:38px;}
.Y	{color:	LightBlue;font-size:38px;}
.Z	{color:	LightCoral;font-size:38px;}
